<div class="container">
  <h1 class="mx-auto" style="width: 200px;">La aplicación</h1>
  <h2 class="mx-auto" style="width: 900px;">Permite enviar mensajes de correo a múltiples destinatarios, como una herramienta de email</h2>
    <div class="card">
      <h3 class="card-header">Con backend de Spring</h3>
      <img src="./../../../assets/spring-logo-9146a4d3298760c2e7e49595184e1975.svg" class="card-img-top" height="150px"
        alt="Logo Spring">
      <h4 class="card-title mt-2 ms-3">Microservicios</h4>
      <div class="card-body">
        <li  lass="card-text">Basada en microservicios de Spring Boot</li>
        <li  lass="card-text">Envío de mensajes en multihilo</li>
        <li  lass="card-text">Autenticación en Oauth2</li>
        <li  lass="card-text">Endpoints asegurados por roles</li>
        <li  lass="card-text">Credenciales aisladas del resto de la aplicación</li>
        <li  lass="card-text">Configuración centralizada</li>
        <li  lass="card-text">Diferentes versiones de Spring Boot entre microservicios</li>
        <li  lass="card-text">Documentación del backend centralizada</li>
        <li  lass="card-text">Diferentes proveedores de bases de datos SQL</li>
        <li  lass="card-text">Entidades, servicios, controladores rest</li>
        <li  lass="card-text">Interfaces, jpa</li>
        <li  lass="card-text">Documentación, configuraciones personalizadas, multihilo, asíncronismo</li>
      </div>
    </div>
    <br>
    <div class="card">
      <h3 class="card-header">Con frontend de Angular</h3>
      <img src="./../../../assets/angular_solidBlack.svg" class="card-img-top" height="150px" alt="Logo Angular">
      <h4 class="card-title ms-3">Reactividad</h4>
      <div class="card-body">
        <li class="card-text">Angular 11</li>
        <li class="card-text">Paginación e iconos de Angular Material y Bootstrap 5</li>
        <li class="card-text">Estilos de Bootstrap 5, sin jQuery</li>
        <li class="card-text">Angular 11, Angular Material y Bootstrap 5</li>
        <li class="card-text">Modelos, servicios, componentes</li>
        <li class="card-text">Observables, pipes, guards, interceptores</li>
      </div>
    </div>


  </div>